<mat-card>
    <mat-card-header>
        <h2>Registration</h2>
    </mat-card-header>
    <mat-card-content>
        <form class="example-form" [formGroup]="registerform" (ngSubmit)="proceedregister()">
            <mat-form-field class="example-full-width">
              <mat-label>Username</mat-label>
              <input matInput formControlName="id" >
            </mat-form-field>
            <small *ngIf="registerform.get('id')?.hasError('required') && registerform.get('id')?.touched" class="error-message">
              Username is required
            </small>
            <small *ngIf="registerform.get('id')?.hasError('minlength') && registerform.get('id')?.touched" class="error-message">
              Username must be at least 5 characters long
            </small>
            <mat-form-field class="example-full-width">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" >
              </mat-form-field>
              <small *ngIf="registerform.get('name')?.hasError('required') && registerform.get('name')?.touched" class="error-message">
                Name is required
              </small>
              <mat-form-field class="example-full-width">
                <mat-label>Password</mat-label>
                <input type="password" matInput formControlName="password" >
              </mat-form-field>
              <small *ngIf="registerform.get('password')?.hasError('required') && registerform.get('password')?.touched" class="error-message">
                Password is required
              </small>
              <small *ngIf="registerform.get('password')?.hasError('pattern') && registerform.get('password')?.touched" class="error-message">
                Password must contain at least 8 characters, including one uppercase letter, one lowercase letter, one number, and one special character.
              </small>
              <mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" >
              </mat-form-field>
              <small *ngIf="registerform.get('email')?.hasError('required') && registerform.get('email')?.touched" class="error-message">
                Email is required
              </small>
              <small *ngIf="registerform.get('email')?.hasError('email') && registerform.get('email')?.touched" class="error-message">
                Please enter a valid email address
              </small><br>
              <div style="margin: 10px;"><b>Gender</b></div>
              <mat-radio-group formControlName="gender" aria-label="Select an option">
                <mat-radio-button value="male">Male</mat-radio-button>
                <mat-radio-button value="female">Female</mat-radio-button>
                <mat-radio-button value="female">Other</mat-radio-button>
              </mat-radio-group>
              <div>
                <br>
                <button mat-raised-button color="primary">Submit</button>
                <a routerLink="/login" mat-raised-button color="accent">Back to Login</a>
              </div>
          </form>
    </mat-card-content>
  </mat-card>
  
  