 body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

nav {
    background-color: #516beb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
 
nav a {
  color: white;
  text-decoration: none;
  margin-right: 15px;
}

nav a:hover {
  text-decoration: underline;
}


.navbar-brand {
    color: white;
    text-decoration: none;
}

.navbar-nav {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar-nav .nav-item {
    margin-right: 15px; 
}

.navbar-nav .nav-item:last-child {
    margin-right: 0;
    margin-left: auto;
}

@media screen and (max-width: 767px) {
    .navbar-nav {
        flex-direction: column; 
        text-align: center;
    }

    .navbar-nav .nav-item {
        margin: 8px 0; 
    }

    .navbar-nav .nav-item:last-child {
        margin-right: 0;
        margin-left: 0;
    }

    .menu-icon {
        display: inline-block;
    }

    .menu-checkbox {
        display: none;
    }
}

.menu-icon:before {
    content: '\2630';
    font-size: 24px;
    color: white;
}

.menu-checkbox:checked + .menu-icon:before {
    content: '\2715';
}

.content {
    width: 100%;
    display: block;
}
