h2 {
    background-color: black;
    color: thistle;
    padding: 10px;
}

form {
    margin: 30px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input,
select,
textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

button {
    width: 100%;
    margin-top: 15px;
}

@media only screen and (max-width: 767px) {
    h2 {
        font-size: 24px; 
    }

    form {
        margin: 15px; 
    }

    button {
        margin-top: 10px;
    }
}
